<h3> Cliente novo </h3>
<% if params[:tp_cliente] != "" %>
	<% if @cliente.errors.any? %>
		<h2><%= pluralize(@cliente.errors.count, "erro") %> foram encontrado:</h2>
		<ul>
			<% @cliente.errors.full_messages.each do |msg| %>
				<li> <%= msg %> </li>
			<% end %>
	<% end %>

	<%= form_for(@cliente , :url => {:controller => "cliente" , :action => "add_cliente" , :tp_cliente => params[:tp_cliente]}) do |f| %>
		<%= render(:partial => "form" , :locals => {:f => f})%>
		<%= f.submit "Enviar" %>
	<% end %>
<% end %>

<p>
	<%= link_to "Voltar", :action => "index" %>
</p>