<h3> Clientes </h3>

<%= link_to "Novo PF", :action => "add" , :tp_cliente => "pf" %>
<%= link_to "Novo PJ", :action => "add" , :tp_cliente => "pj" %>

<br>

<table>
	<tr>
		<th> Nome/Razão social </th>
		<th> Tipo cliente </th>
		<th> Situaçao </th>
		<th> Criado em </th>
		<th></th>
	</tr>
	<% @cliente.each do |c| %>
		<tr>
			<td> <%= c.nome %> <%= c.rz_social %> </td>
			<td> <%= cliente(c.tp_cliente) %> </td>
			<td> <%= situacao(c.status) %> </td>
			<td> <%= datetime(c.created_at) %> </td>
			<td> <%= link_to "Detalhes" , "#" %> <%= link_to "Editar" , :action => "editar", :tp_cliente => if c.tp_cliente == true then "pf" else "pj" end , :cliente_id => c.id %> <%= link_to "Bloquear" , "#" %> </td>
		</tr>
	<% end %>
</table>