<h4> Editar tipo </h4>

<% if @tp_contrato.errors.any? %>
	<h3><%= pluralize(@tp_contrato.errors.count, "erro") %> foram encontrado:</h3>
	<ul>
		<% @tp_contrato.errors.full_messages.each do |msg| %>
			<li> <%= msg %> </li>
		<% end %>
	</ul>
<% end %>

<%= form_for(@tp_contrato , :url => {:controller => "tipos_contratos" , :action => "update" , :tp_contrato_id => params[:tp_contrato_id]}, :method => :post) do |f| %>
	<%= render(:partial => "form", :locals => { :f => f }) %>
	<p>
		<%= f.submit "Salvar" %>
	</p>
<% end %>

<%= link_to "Voltar" , :action => "index" %>