<h3> Detalhes </h3>

<%= link_to "Editar" , { :action => "editar", :funcionario_id => @funcionario[0].id } %>

<h4> Funcionario <%= status(@funcionario[0].status) %> </h4>

<% @funcionario.each do |f| %>
	<h4> Dados pessoais </h4>
	<p>
		Nome: <%= f.nome %> <br />
		Sexo: <%= sexo(f.sexo) %> <br />
		Data de nascimento: <%= f.dt_nascimento %><br />
		RG: <%= f.rg %>
		CPF: <%= f.cpf %> <br />
		Nome da mãe: <%= f.nome_mae %> <br />
		Nome do pai: <%= f.nome_pai %>
	</p>
	<p>
		<p>
			<strong> Logradouro </strong>
		</p>
		Endereço: <%= f.endereco %>, <%= f.numero %><br />
		Complemento: <%= f.complemento %> <br />
		CEP: <%= f.cep %> <br />
		Bairro: <%= f.bairro %> <br />
		Cidade: <%= f.cidade %> <br />
		Estado: <%= f.estado %> <br />
	</p>
	<p>
		<p>
			<strong> Contato </strong>
		</p>
		Email: <%= f.email %> <br />
		Telefone: <%= f.telefone %> <br />
		Celular: <%= f.celular %> <br />
	</p>
	<p>
		Criado em: <%= datetime(f.created_at) %> <br />
		Última alteração: <%= datetime(f.updated_at) %>
	</p>
<% end %>

<p>
	<%= link_to "Voltar", { :action => :index } %>
</p>