<h3> Editar funcionario </h3>

<% if @funcionario.errors.any? %>
	<h2><%= pluralize(@funcionario.errors.count, "erro") %> foram encontrado:</h2>
	<ul>
		<% @funcionario.errors.full_messages.each do |msg| %>
			<li> <%= msg %> </li>
		<% end %>
	</ul>
<% end %>

<%= form_for(@funcionario , :url => {:controller => "funcionarios" , :action => "update" , :funcionario_id => params[:funcionario_id]}, :method => :post) do |f| %>
	<%= render(:partial => "form" , :locals => {:f => f})%>
	<%= f.submit "Salvar" %>
<% end %>

<p>

	<strong> Gera login </strong>
	<br />
	<% if not @funcionario.senha.nil? %>
		<%= link_to "Restaurar senha" , {:action => "resaturar_senha" , :funcionario_id => @funcionario.id } %>
	<% end %>
	<%= form_tag({:action => "criar_login" , :funcionario_id => @funcionario.id }, :method => :post) do %>
		Usuario: <%= text_field_tag :usuario ,  @funcionario.usuario %> <br />
		<%= submit_tag "Criar usuário" %>
	<% end %>
</p>

<p>
	<%= link_to "Voltar", :action => "index" %>
</p>