<!DOCTYPE html>
<html>
<head>
  <title>Osmanager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<ul>
			<li> <%= link_to "Menu" , "#" %> </li>
			<li> <%= link_to "Clientes" , {:controller => "cliente", :action => "index"} %> </li>
			<li> <%= link_to "Contratos" , "#" %> </li>
			<li> <%= link_to "Chamados" , "#" %> </li>
			<li> <%= link_to "Produtos" , "#" %> </li>
		</ul>
	</nav>

<%= yield %>

</body>
</html>
